
/* || Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

/* || General styles */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

li, a, button{
  font-weight: 500;
  font-size: 1rem;
  color: #edf0f1;
  text-decoration: none;
}

main{
  padding: 30px 0;
}

.container{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 0px 30px;
}

/* || Header and Main Navigation */
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
}

.header-wrapper{
  background-color: #24252a;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a{
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9;
}

/* || Product */
.collection-products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
}

.card-product img{
  width: 100%;
}

main{
  min-height: 80vh;
}

footer{
  text-align: center;
}

/* || Rating */
.rating{
  
}